$color-primary: rgba(53, 0, 211, 0.9);
$color-darkGray: #444;
$color-lightGreen: #7ed56f;
$color-darkGreen: #28b485;
$padding-left-right: 10rem;

@font-face {
  font-family: "circular-std-bold";
  src: url("../fonts/CircularStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "circular-std-medium";
  src: url("../fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: circular-std-medium, Arial, sans-serif;
  font-size: 2rem;
  box-sizing: border-box;
  color: $color-darkGray;
}

.logo-box {
  display: inline-block;
  z-index: -1;
}

.logo-icon {
  width: 30px;
  height: auto;
  //   transform: translateY(4px);
  //   border: 1px red solid;
  transform: translateY(0.3rem);
}
.logo-text {
  display: inline-block;
  transform: translateY(0.7rem);
  margin-left: 1rem;
}

.logo-icon {
  cursor: pointer;
}

.logo-text:hover {
  cursor: pointer;
  text-decoration: underline;
}

nav {
  background-color: #fff;
  border-bottom: 2rem solid #fff;
  padding: 0 $padding-left-right;
  ul {
    list-style-type: none;
  }

  li:nth-child(2) {
    margin-right: 1.5rem;
  }

  li:nth-child(3) {
    margin-right: 1.5rem;
  }

  li {
    float: right;
  }

  li a {
    // border: 1px red solid;

    display: inline-block;
    transform: translateY(0.7rem);
    text-decoration: none;
    color: $color-darkGray;
  }

  li a:hover {
    text-decoration: underline;
    color: $color-darkGreen;
  }

  .active a {
    color: $color-darkGreen;
    // text-decoration: underline;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.content {
  margin-top: 10rem;
  padding: 0 $padding-left-right;
  display: flex;
}

.profile {
  width: 20rem;
  height: 20rem;
  float: right;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.article-body {
  margin-top: 3rem;
}

.footer-wrap {
  text-align: center;
  font-size: 1.5rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 300px);
}

.box1 {
  background-image: url("../images/tetris2.png");
  background-size: cover;
}

.box2 {
  background-image: url("../images/pathfinder2.png");
  background-size: cover;
}

.box3 {
  background-image: url("../images/agario.png");
  background-size: cover;
}

.box4 {
  background-image: url("../images/myreads.png");
  background-size: cover;
}

.box5 {
  background-image: url("../images/dino.png");
  background-size: cover;
}
