$color-primary: rgba(53, 0, 211, 0.9);
$color-darkGray: #444;
$color-lightGreen: #7ed56f;
$color-darkGreen: #28b485;

@font-face {
  font-family: "circular-std-bold";
  src: url("../fonts/CircularStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "circular-std-medium";
  src: url("../fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: circular-std-medium, Arial, sans-serif;
  font-size: 2rem;
  box-sizing: border-box;
  color: $color-darkGray;
}
.header-logo {
  width: 30px;
  height: auto;
  transform: translateY(4px);

  //   border: 1px solid black;
}

.header-text {
  display: inline-block;
  transform: translateY(-5px);
  //   border: 1px solid black;
}

nav {
  //   display: flex;
  //   background-color: #28b485;
  border: black 1px solid;
  overflow: hidden;
  ul {
    list-style-type: none;
    // overflow: hidden;
    // vertical-align: top;
  }

  li {
    float: right;
  }

  li a {
    display: block;
    padding: 8px;
    // background-color: #dddddd;
    text-decoration: none;
    color: $color-darkGray;
  }

  li a:hover {
    text-decoration: underline;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
